@charset "UTF-8";
html,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
}

img {
  width: 100%;
}

/* font size auto control off */
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #e7e7e7;
  font-size: 16px;
}

.all-wrap {
  width: 95%;
  height: auto;
  margin: 2% 2.5%;
}

/* Header */
/* css less than 559px ~mobile.ver~ */
header {
  width: 100%;
  background-color: #555;
  color: #fff;
  text-align: center;
}

.wrap-header {
  width: 100%;
  height: 10vh;
  display: table;
}

.header__contents {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-size: 1.625rem;
}

/* css 561px or more ~tablet.ver~ */
/* Header */
@media screen and (min-width: 560px) {
  .wrap-header {
    height: 12vh;
  }

  h1 {
    font-size: 1.75rem;
  }
}

/* css 960px or more ~desktop.ver~ */
/* Header */
@media screen and (min-width: 960px) {
  .wrap-header {
    height: 14vh;
  }

  h1 {
    font-size: 1.875rem;
  }
}

/* Main */
/* css less than 559px ~mobile.ver~ */
.main__head {
  width: 100%;
  height: 60vh;
  position: relative;
  background-image: url(../mainBackPic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
}

.main__head::before {
  content: "";
  display: block;
  height: 1.25%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.main__head__bgmask {
  width: 100%;
  height: 98.75%;
  background-color: rgba(255, 255, 255, 0.5);
}
.head__pic {
  width: 60%;
  height: 28.5vh;
  margin: 0 20% 3%;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.45);
  background-image: url(../headPicture.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.head__github {
  position: absolute;
  bottom: 0;
  right: 4%;
  width: 10%;
  line-height: 5vh;
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
}

.github__link {
  display: block;
  text-decoration: none;
  background-color: #c0c0c0;
  color: #000;
}

.head__facebook {
  position: absolute;
  bottom: 12%;
  right: 4%;
  width: 10%;
  line-height: 5vh;
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
}

.facebook__link {
  display: block;
  text-decoration: none;
  background-color: #c0c0c0;
  color: #000;
}

.head__instagram {
  position: absolute;
  bottom: 20%;
  right: 4%;
  width: 10%;
  line-height: 5vh;
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
}

.instagram__link {
  display: block;
  text-decoration: none;
  background-color: #c0c0c0;
  color: #000;
}

.sns-link,
.sns-link:visited,
.sns-link:hover,
.sns-link:active {
  color: inherit;
}

.github__link::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f09b";
}

.facebook__link::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f09a";
}

.instagram__link::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\e055";
}

#wheelDiv {
  width: 60%;
  height: 60vh;
  margin: 0 30% 0 10%;
}

#wheelDiv > svg {
  width: 100%;
  height: 90%;
  /* margin: 0 20%; */
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

/* css 561px or more ~tablet.ver~ */
/* Main */
@media screen and (min-width: 560px) {
  #wheelDiv > svg {
    width: 80%;
    height: 80%;
    margin: 0 10% 1%;
  }

  h2 {
    font-size: 1.625rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}

/* css 960px or more ~desktop.ver~ */
/* Main */
@media screen and (min-width: 960px) {
  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.375rem;
  }
}

/* Footer */
/* css less than 559px ~mobile.ver~ */
footer {
  text-align: center;
  background-color: #555;
  color: #ddd;
  padding: 5px;
  margin-top: 50px;
}

/* css 561px or more ~tablet.ver~ */
/* Footer */
@media screen and (min-width: 560px) {
}

/* css 960px or more ~desktop.ver~ */
/* Footer */
@media screen and (min-width: 960px) {
}

/* Insert generated CSS code from here -> http://pmg.softwaretailoring.net */
